.alert-header {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 60px auto 0;
    padding: 20px;
    background-color: #f44336;
    color: $white;
    z-index: 99;
    transition: all ease-in-out .2s;

    @include breakpoint(small) {
        font-size: 15px;
        padding: 20px;
    }

    @include breakpoint(medium) {
        font-size: 20px;
        padding: 20px 100px;
    }

    @include breakpoint(large) {
        font-size: 20px;
        padding: 20px;
    }
}