.owl-carousel {
  margin-bottom: 14rem;
}
.owl-short {
  margin-bottom: 0;
}
.owl-item.active > div:after {
    content: '';
  }
  .owl-item.center > div:after {
    content: '';
  }
  .owl-item.active.center > div:after {
    content: '';
  }
  .owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .owl-carousel .owl-item img {
    @include breakpoint(small) {
      border-radius: 7px;
    }
    @include breakpoint(medium) {
      border-radius: 15px;
    }
    @include breakpoint(large) {
      border-radius: 15px;
    }
  }

  .owl-carousel-bonn {

    @include breakpoint(small) {
      // margin-top: -5rem;  
      margin-top: 0rem; //no line-up
    }
    @include breakpoint(medium) {
      // margin-top: -5rem;  
      margin-top: 0rem; //no line-up
    }
    @include breakpoint(large) {
      // margin-top: -5rem;  
      margin-top: -9rem; //no line-up
    }
  }
  .owl-carousel-bonn .owl-item img {
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
      border-radius: 10px;
    }
    @include breakpoint(medium) {
      border-radius: 17px;
    }
    @include breakpoint(large) {
      border-radius: 25px;
    }
  }
  
  .shows-goto-container {
    width: 90%;
  }
  .shows-goto-container img {
    display: block;
    height: auto;
  }
  .owl-item:nth-of-type(even) .shows-goto-container {
    margin-top: 40px;
  }
  .shows-goto-container img:nth-of-type(odd) {
    margin-bottom: 20px;
  }
  
  