.preloader-huluween {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #000000;
    // background: url('https://hulu-matchmaker.s3.amazonaws.com/attachments/ckshzj6vo41a51ud43j7ylxit-logo-huluween-grn.svg') center no-repeat #040405;
    // background-size: 375px !important;
  

    @include breakpoint(large) {
        background-size: 30%;
    }
}
.preloader-wrapper {
    display: block;
    justify-content: center;
    align-content: center;
    width: 375px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    @include breakpoint(large) {
        width: 375px;
    }
    @include breakpoint(medium) {
        width: 375px;
    }
        @include breakpoint(small) {
            width: 70%;
    }
}

.preloader-audio-pause {
    background: url('https://hulu-matchmaker.s3.amazonaws.com/attachments/cksutxbud29421v3dorrix147-icon-preloader-turn-on-audio.svg') no-repeat !important;
    background-size: 100% !important;
    width: 188px !important;
    height: 42px !important;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 110%;
}
.preloader-audio-play {
    background: url('https://hulu-matchmaker.s3.amazonaws.com/attachments/cksutxbu224ga1v7h38jfqzfc-icon-preloader-turn-off-audio.svg') no-repeat !important;
    background-size: 100% !important;
    width: 188px !important;
    height: 42px !important;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 110%;
}