.progress-bar__container {
    width: 100%;
    height: .3rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    background: #626262;
    margin: 55px 0;
  }
  
  .progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #1ce783;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }
  
  .progress-bar__text {
    display: none;
  }
  