
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* *{
  border: 1px solid;
} */

$lines: 2; // lines of text
$duration: 1000; // animation
$delay: 250; //  delay

// === Defaults ======
$dark: #1C1B21;
$light: #E8E8E9;
$huluGreen: #1CE783;
$bodyCopyDark: #C5CAD3;
$bodyCopyLight: #C5CAD3;

// === Placeholders ======
%crisp-text {
  font-feature-settings: "kern"1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%sans-serif { 
  //Change to Graphik Bold
  font-family: 'Graphik-bold';
  font-style: normal;
  letter-spacing: -.03em;
  line-height: 100%;
}

p{
  line-height: 135%;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;

}

// === Page Setup ======
body {
  @extend %crisp-text;
  background-color: $dark;
  color: #040405;
}

.top-bar {
  background-image: linear-gradient(to top, rgba(225,225,225,0), rgba(4,4,5,1));
  padding-bottom: 7px;
}

.masthead-bo {
  height: 95vh;
  width: 100%;
  padding: 64px;
  background-color: #F28EA3;
  display: flex;
  align-items: flex-end;
  overflow:hidden;
  box-sizing: border-box;
}

// === <h1> wrapper ======
.Title-container {
  display:flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.title-bo-wrapper {
  display: block;
  float: left;
}
.title-h2-bo {
  display: block;
}


.Title { 
  @extend %sans-serif;
  font-size: 128px;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  animation: revealText $duration+ms cubic-bezier(0.7, 0, 0.3, 1) forwards $delay+ms;
  margin:0;
}

// === Mask each line ======
.Title-mask {
  display: block;
  position: relative;
  text-align: start;
  overflow: hidden;
  
}

// === Animate each line within the mask ======
.Title-line {
  background-color: $green;
  border-radius: .2em;
  padding:.3em .2em;
  display: inline-block;
  opacity: 0;
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  animation: revealText $duration+ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
  margin-top: 8px;
  font-size: 128px;
  color: #000000;
  transition: all ease-in-out .25s;
}

.Title-leading {
  transform: scale(0);
  display: inline-block;
  animation: revealLead 300ms cubic-bezier(0.7, 0, 0.3, 1) forwards (($delay*$lines) + $delay*1.5)+ms;
}




.arrow-down {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 100%;
  height: 128px;
  width: 128px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:pop-in .5s forwards;
  animation-delay: 1200ms;
  visibility: hidden;
  cursor: pointer;
  transition: .2s ease;


&:hover {
margin-bottom: -5px;
background-color: #FFFFFF95;


}

}






// =========
// Functions
// =========
@for $i from 1 through $lines {
  .Title-mask:nth-child(#{$i}) .Title-line {
    animation-delay: $delay * $i + ms;
  }
}

// ==========
// Animations
// ==========

@keyframes revealLead {
  from {
    opacity: 1;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes revealText {
  from {
    opacity: 1;
    transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes pop-in {
   0% {
     opacity: 0; transform: scale(0); visibility: visible;
     }

   50% {
     opacity: 1; transform: scale(1.2); visibility: visible;
     }
  100% {
    opacity: 1; transform: scale(1); visibility: visible;
    }
}


// =============
// =============
// Second Module
// =============
// =============

.module {
  padding: 64px 0;
  margin: 0 auto;
  h2{
    @extend %sans-serif;
    font-size:56px;
    margin: 0;
    line-height: 115%;
    }  
  p {
    font-family: arial;
    font-weight:100; 
    font-size: 18px;
    margin: 1vw 0 0 0;
  }
}



.module.one{
    background-color: $dark;
   
  h2 {
    color: $light;
  }
  p{
    color: $bodyCopyLight;
  }

}



.module.two, .bk-switch-green{
  background-color: $green;
  transition: all ease-in-out .3s;

  h2 {
    color: $dark;
  }
  p{
    color: $dark;
  }
}


.module-header {
  // max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 32px;
}

.module video {
  transition: all ease-in-out .25s;
  // width: 100%;
  background-color: #FFFFFF10;
  // cursor:url(https://res.cloudinary.com/daq1m5qtf/image/upload/v1667552856/cursor_tndjyv.svg), auto;
}
.module-top {
  position: relative;
  z-index: 99;
}




.owl-bo {
  margin: 0;

  .item {
    margin: 10px;
  }
}
.owl-bo-cards {
  transition: all ease-in-out .25s;
  @include breakpoint(small) {
    margin-top: -57px;
  }
  @include breakpoint(medium) {
    margin-top: -62px;
  }
  @include breakpoint(large) {
    margin-top: -90px;
  }
}
.owl-dots {
  display: none;
}


.video-container {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  
    overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}



//bound scrolling



.scroll-bound {
	height: 250vh;
  text-align: center;
	
	.content {
		width: 100%;
		top:0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    align-self: flex-start;
    // position: -webkit-sticky;
    // position: -moz-sticky;
    // position: -ms-sticky;
    // position: -o-sticky;
    // position: sticky;
	}
	
	video {
    transition: all ease-in-out .25s;
		width: auto;
    border-radius: 20px;
    height: 100vh;
	}
}
.vid-top {
  margin: 0 auto;
  max-width: 1680px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: transparent !important;
  transition: all ease-in-out .25s;
  @include breakpoint(small) {
    width: 91%;
    border-radius: 12px;
  }
  @include breakpoint(medium) {
    width: 85%;
    border-radius: 20px;
  }
  @include breakpoint(large) {
    width: 93%;
    border-radius: 20px;
  }
}

.vid-size {
  width: 80%;
}
.size-full {
  position: fixed;
  top: 0;
  border-radius: 0 !important;
  transition: all ease-in-out .25s;

  @include breakpoint(small) {
    width: 125% !important;
    max-width: 125% !important;
    height: 100vh;
  }
  @include breakpoint(medium) {
    width: 230% !important;
    max-width: 230% !important;
    height: 105vh;
  }
  @include breakpoint(large) {
    width: auto !important;
    max-width: 100% !important;
    height: 100vh;
  }
}

.size-org {
  width: 80% !important;
  position: relative;
  left: auto;
  top: auto;
}
.vid-big-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.vid-desk {
  @include breakpoint(small) {
    display: block;
    max-width: 100%;
  }
  @include breakpoint(medium) {
    display: block;
    max-width: 100%;
  }
  @include breakpoint(large) {
    display: block;
    max-width: 100%;
  }
}
.vid-tab {
  @include breakpoint(small) {
    display: none;
  }
  @include breakpoint(medium) {
    display: block;
  }
  @include breakpoint(large) {
    display: none;
  }
}
.vid-mob {
  @include breakpoint(small) {
    display: block;
  }
  @include breakpoint(medium) {
    display: none;
  }
  @include breakpoint(large) {
    display: none;
  }
}



@media only screen and (max-width: 1024px){

  .masthead {
  height: 95vh;
  padding: 48px;
  background-color: #FFBF00;
}
.masthead-bo {
  height: 95vh;
  padding: 48px;
  background-color: #FFBF00;
}
.Title { 
  font-size: 96px;
}
.Title-line {
  font-size:  96px;
}
.module {
    padding: 48px 24px;
  h2{
   
   font-size: calc(40rem / 16);
    }
  p {
    font-family: arial;
    font-size: 16px;
  }
}

}



@media only screen and (max-width: 768px){

  .masthead {
  height: 75vh;
  padding: 24px;
  background-color: #2AB0DC;
}
.masthead-bo {
  height: 95vh;
  padding: 24px;
  background-color: #2AB0DC;
}
  .Title { 
  font-size: 56px;
}
.Title-line {
  font-size:  56px;
}

.module {
  padding: 48px 0;
  h2{
    /* font-size:8vw; */
    font-size: calc(32rem / 16);
    margin-bottom: 0;
    }
  p {
    margin-top: 24px;
  }
}

  .module-header {
  grid-template-columns: 1fr;
  grid-gap: 0px;
  padding: 0 24px;
  }



}




@media only screen and (max-width: 428px){
  .masthead {
  height: 80vh;
  padding: 24px;
  background-color: #9747FF;
}
.masthead-bo {
  height: 95vh;
  padding: 24px;
  background-color: #9747FF;
}
  .Title { 
  font-size: 12vw;
}
.Title-line {
  font-size: 12vw;
}
.module {
    padding: 48px 0;
  h2{
    /* font-size:8vw; */
    font-size: calc(32rem / 16);
    margin-bottom: 0;
    }
  p {
    margin-top: 24px;
  }
}

.module-header {
  grid-template-columns: 1fr;
  grid-gap: 0px;
  padding: 0 24px;
}

}