
.pink {
    color: #FF00C9;
}
.title-bold {
    font-family: $body-font-bold !important;
}
.title-sml {
    font-size: 12px;
    display: block;
    padding: 15px 0 0 0;
}
.module-drag {
    transition: all  ease-in-out .25s;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 32px;

    @include breakpoint(small) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        padding: 0 24px;
    }
    @include breakpoint(medium) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        padding: 0 24px;
    }
    @include breakpoint(large) {
        padding: 64px;
        display: grid;
        grid-template-columns: .8fr 1fr;
        grid-gap: 16px;
    }
}
.masthead-drag {
    background: url('https://assetshuluimcom-a.akamaihd.net/drag/img-drag-bk-masthead.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center top;
}
.title-img {
    display: block;

    img {
        width: 788px;
    }
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.title-cursor {
    display: block;
    img {
        transition: all ease-in-out .25s;
        cursor: pointer;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        @include breakpoint(small) {
            width: 88px;
            height: 88px;
        }
        @include breakpoint(medium) {
            width: 128px;
            height: 128px;
        }
        @include breakpoint(large) {
            width: 128px;
            height: 128px;
        }

        &:hover {
            opacity: .8;
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }
}
.drag-cell-wrapper {
    overflow: hidden;
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 45px;
}
.drag-cell {
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        width: 90%;
        float: left;
    }
    @include breakpoint(medium) {
        width: 50%;
        float: left; 
    }
    @include breakpoint(large) {
        width: 25%;
        float: left;
    }
}
.drag-cell-large {
    width: 100% !important;
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        padding-left: 0; 
    }
    @include breakpoint(medium) {
        padding-left: 0; 
    }
    @include breakpoint(large) {
        padding-left: 10%;
    }
}
.module-drag-grade {
    background: url('https://assetshuluimcom-a.akamaihd.net/drag/img-drag-bk-mod-grade.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.module-drag-kiss {
    background: url('https://assetshuluimcom-a.akamaihd.net/drag/img-drag-bk-mod-kiss.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.module-drag-numbers {
    background: url('https://assetshuluimcom-a.akamaihd.net/drag/bk-drag-numbers.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.module-green {
    background-color: #1CE783 !important;
}
.img-drag-album {
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        max-width: 100%;
        width: 100%; 
        height: auto;
    }
    @include breakpoint(medium) {
        max-width: 100%;
        width: 100%; 
        height: auto; 
    }
    @include breakpoint(large) {
        max-width: 500px;
        width: 500px; 
        height: 500px; 
    }
}
.drag-album-title {
    font-family: $body-font-bold;
    font-size: 28px;
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        margin-top: 40px;
    }
    @include breakpoint(medium) {
        margin-top: 40px;
    }
    @include breakpoint(large) {
        margin-top: 0;
    }
}
.drag-album-list {
    color: $white;
    margin-top: 40px;
}

.drag-album-list  li {
    list-style: decimal;
    padding-left: 10px;
}
.drag-music-icons-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        width: 100%;
    }
    @include breakpoint(medium) {
        width: 100%;
    }
    @include breakpoint(large) {
        width: 580px;
    }

    img {
        transition: all ease-in-out .25s;
        @include breakpoint(small) {
            height: 30px;
        }
        @include breakpoint(medium) {
            height: 42px;
        }
        @include breakpoint(large) {
            height: 42px;
        }

        &:hover {
            opacity: .5 !important;
        }
    }
}
.drag-numbers-container {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 100px;
    transition: all ease-in-out .25s;
    @include breakpoint(small) {
        display: block;
        justify-content: space-evenly;
        align-items: center;
    }
    @include breakpoint(medium) {
        display: block;
    }
    @include breakpoint(large) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    img {
        transition: all ease-in-out .25s;
        @include breakpoint(small) {
            width: 30%;
        }
        @include breakpoint(medium) {
            width: 50%;
        }
        @include breakpoint(large) {
            width: 340px;
        }
    }
}
.tile-container {
    .tile-bk {
        z-index: 0;
        display: block;

        img.bk-kiss {
            opacity: .3  !important;
        }
    }
    .tile-text-wrapper {
        position: absolute;
        z-index: 1;
        margin-top: -270px;
        width: 90%;
        padding: 0 11px 0 15px;

        .tile-drk {
            color: $black-drk;
        }
    }
    .tile-title{
        margin-top: 10px;
        font-size: 17px;
        word-wrap: break-word;
        transition: all ease-in-out .25s;
        @include breakpoint(small) {
            margin-top: 50px;
            font-size: 14px;
        }
        @include breakpoint(medium) {
            margin-top: 10px;
            font-size: 17px;
        }
        @include breakpoint(large) {
            margin-top: 10px;
            font-size: 17px;
        }
    }
    .tile-name {
        font-size: 14px;
    }
    .title-per {
        font-size: 75%;
        @include breakpoint(small) {
            margin-top: 40px;
            font-size: 65%;
        }
        @include breakpoint(medium) {
            margin-top: 0;
            font-size: 75%;
        }
        @include breakpoint(large) {
            margin-top: 10px;
            font-size: 75%;
        }
    }

    width: 100%;
    height: 100%;
}