//Graphik Font

@font-face {
    font-family: 'Graphik-Light';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Light-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Light-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Light-Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Light.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Extralight';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Extralight-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Extralight-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Extralight-Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Extralight.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Medium';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Medium-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Medium-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Medium-Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Medium.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Regular';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Regular-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Regular-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Regular-Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Regular.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Semibold';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Semibold-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Semibold-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Semibold-Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Semibold.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Bold';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Bold-Web.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Bold-Web.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik--Web.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/Graphik-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Huluween-Sans';
    src:url('https://assetshuluimcom-a.akamaihd.net/FONTS/huluween/HuluweenSans.eot') format('embedded-opentype'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/huluween/HuluweenSans.woff') format('woff'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/huluween/HuluweenSans.woff2') format('woff2'), url('https://assetshuluimcom-a.akamaihd.net/FONTS/huluween/HuluweenSans.otf') format('opentype');
    font-style: normal;
}